@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 15px Arial, sans-serif;;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: auto;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div#formnum {
    margin-bottom: 10px;
}
section > div#formnum > input {
    margin-left: 10px;
}

div#lis {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
div#lis > input {
    width: 100px;
}

div#res {
    font-weight: bold;
}

span#erro {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 10px;
}

select {
    width: 150px;
    height: 100px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
